<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://10.0.253.210:7020/externalLinksController/downloadFileByKey/Ferragamo.ipa?dkey=ea1af850-932d-494e-9b82-ea62f14d18da</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string></string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string></string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.bbc.ferragamo</string>
				<key>bundle-version</key>
				<string>1.4.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>全分</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
