<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://10.0.253.210:7020/externalLinksController/downloadFileByKey/iOS%201.4.0%20%E5%8A%A0%E5%AE%8C%E8%AF%81%E4%B9%A6%E6%B5%8B%E8%AF%95%E5%8C%85.ipa?dkey=49682a35-de4a-4f1c-bbff-63ba8ca70086</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>http://132.232.157.23:8086/img/download/ios/ticket57.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>http://132.232.157.23:8086/img/download/ios/ticket512.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.bbc.ferragamo</string>
				<key>bundle-version</key>
				<string>1.4.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>全分</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
